<% include head %>
<script>
$('document').ready(function(){
    $('li[class]:eq(4)').attr('class','current');
});
</script>
<section class="docs">
  <div class="grid">
     <div class="show-on-mobiles">
        <% include sidebar_mobile %>
         <div class="whole show-on-mobiles">
           <article>
             <a><h2><%=current_tag%></h2></a>
             <% for(var i=0;i<typelist.length;i++){%>
                  <header class="mutepig_ep" style="height:auto;margin-left:10px">
                     <div>
                     <li>
                         <div>
                             <h2 ><a href="/article/<%=typelist[i].split('.')[0]%>" style="color:#97FFFF;font-size:14px"><%=typelist[i].replace(/-/g,' ').split('.')[0] %></a></h2>
                             <div style="margin-left:45%;font-size:14px"><i class="fa fa-calendar"></i><%=time[filename.indexOf(typelist[i])].split('.')[0] %></div>
                         </div>
                     </li>
                     </div>
                 </header>
             <%}%>
             <div class="section-nav">
               <div class="left align-right"></div>
               <div class="right align-left"></div>
               <div class="clear"></div>
             </div>
           </article>
         </div>
     </div>
    <% include sidebar %>
    <div class="unit three-quarters hide-on-mobiles">
      <article>
        <a><h1><%=current_tag%></h1></a>
        <% for(var i=0;i<typelist.length;i++){%>
            <ul>
            <header class="mutepig_ep">
                <div>
                <li>
                    <div class="mutepig_calendar3">
                        <h2 class="middle"><a href="/article/<%=typelist[i].split('.')[0]%>" style="color:#97FFFF"><%=typelist[i].replace(/-/g,' ').split('.')[0] %></a></h2>
                        <div class="mutepig_calendar2"><i class="fa fa-calendar"></i><%=time[filename.indexOf(typelist[i])].split('.')[0] %></div>
                    </div>
                </li>
                </div>
            </header>
            </ul>
        <%}%>
        <div class="section-nav">
          <div class="left align-right"></div>
          <div class="right align-left"></div>
          <div class="clear"></div>
        </div>
      </article>
    </div>
    <div class="unit one-fifth hide-on-mobiles godness">
        <aside>

<% include foot %>
